*{
    margin:0;
    padding:0;
}
 
html{
    background-image: url(../img/sakura.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
   
}
 
body{
    margin:0;
}
 
#inicioSesion{
    margin-right: 2em;
}
 
 
.topnav {
  overflow: hidden;
  background-color: #333;
}
 
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
 
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
 
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}